.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282c34;
    padding: 0 20px;
}
.headerImg {
    height: 80px;
}
.headerAva {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.headerLoginWrapper {
    display: flex;
    align-items: center;
}
.headerLogIn {
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.headerLogIn:hover {
    transition: all .5s;
    color: #61dafb;
}
