.post {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.post_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.post_message {
    margin-left: 30px;
    font-weight: bold;
    font-size: 18px;
    color: gray;
}
.like_btn {
    margin-left: 20px;
}
.like_counter {
    color: gray;
}